@import "tailwindcss";


@theme {
     --primary-bg: #fff;
    --font-primary: "Montserrat";

    --color-slate-primary: #f0f5f8;
    --color-slate-secondry: #f8fafd;

    --color-blue-secondry:#c7d2fe;
    --color-blue-primary:#e0e7ff;

    --color-green-primary:#0cad47;
    --color-green-secondry:#dafee1;

    --color-red-primary:#d01716;
    --color-red-secondry:#fee3e3;

    --color-purple-primary:#6163ff;
    --color-purple-secondry:#e0e7ff

}