@import "tailwindcss";




@theme {
     --primary-bg: #fff;
    --font-primary: "Montserrat";
    
    --color-slate-primary: #484848;

    --color-gray-primary:#edeef2;

    --color-blue-secondry:#c7d2fe;
    --color-blue-primary:#e0e7ff;

    --color-green-primary:#0cad47;
    --color-green-secondry:#dafee1;

    --color-red-primary:#d01716;
    --color-red-secondry:#fee3e3;

    --color-purple-primary:#6163ff;
    --color-purple-secondry:#e0e7ff
}

:root {
  --font-primary: "Montserrat";
  --primary-bg: #fff;
  --secondary-bg: #d6d6de;
  --text-primary: #181818;
  --text-secondary: #181818;
  --accent-color: #646cff;
}

:root.dark {
  --font-primary: "Montserrat";
  --primary-bg: #1a1a1a;
  --secondary-bg: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --accent-color: #646cff;
}
body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-primary);
  line-height: 1.6;
  min-height: 100vh;
}

html, body{
    @apply font-primary;
    
}